<form class="clan-search" id="clan-search">
  <input class="text-input" type="text" placeholder="Clan Tag" value="xFTAx" id="clan-tag" />
  <input class="submit-button" type="submit" value="Search">
  <div id="clan-search-loading" class="loading"></div>
</form>
